:host {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  position: relative;
  padding-top: 3em;
}

.date {
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: 1.5em;
}

.description-item {
  @extend .date;
  margin: 0;
}

.place {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

.temperature {
  @extend .place;
  font-size: 4em;
}

.icon {
  min-height: 200px;
  max-width: 100%;
}

.extra-details {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  font-weight: 300;
}

.wind {
  display: flex;
  align-items: center;
}

.humidity {
  display: flex;
  align-items: center;
}
